driftfile /var/lib/ntp/drift

restrict 127.0.0.1
restrict -6 ::1

{% if ansible_default_ipv4.address == ntpserver %}
server 127.127.1.0 iburst local clock
{% else %}
server {{ ntpserver }}
{% endif %}
includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys

logfile /var/log/ntp.log
